# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/bin
/tmp
/obj
/WebAPI/ClientApp/angularApp/dist
/ClientApp/angularApp/node_modules
/ClientApp/angularApp/.angular
/ClientApp/angularApp/.vscode

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/WebAPI/bin

# System files
.DS_Store
Thumbs.db
